[Unit]
Description=Camera RTSP Relay
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/da/camera-relay.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
