[Unit]
Description=MAVLink Router
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mavlink-routerd -c /etc/mavlink-router/main.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
