VIDEO_URL=rtsp://192.168.144.25:8554/main.264
GCS_IP=192.168.10.110
VIDEO_PORT=5600
LATENCY=0
PT=96
MTU=1200
PROTOCOLS=tcp
BUFFER_SIZE=1
CONFIG_INTERVAL=-1

ENCODE_VIDEO=false       # set true to enable transcode
OUTPUT_WIDTH=1280
OUTPUT_HEIGHT=720
OUTPUT_FPS=15
OUTPUT_BITRATE=2000  